@size_width:1300px;
@size_width_forma: @size_width / 3;

* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  height: 100%;
}
.container {
  width: @size_width;
  min-height: 100%;
  margin: 0 auto;
  .cont_forma {
    width: @size_width_forma;
    #form_reg {
      margin: 5px;
      line-height: 1.5em;
      label {
        padding-left: 10px;
        input {
          padding-left: 5px;
        }
        textarea {
          width: @size_width_forma - 40px;
        }
      }
      #reg_button {
        margin: 5px 10px;
      }
      #reg_button:hover {
        cursor: pointer;
      }
    }
  }
}
